* {
  font-family: "Open Sans", sans-serif;
}

/*HEADER*/

#logo {
  font-size: 40px;
  color: rgb(79, 3, 133);
  text-align: center;
  font-weight: bold;
  border: 3px solid gray;
  display: inline;
  margin: 30%;
  padding: 2px;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  color: brown;
  margin: 1%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 1%;
  font-weight: 300;
  color: bisque;
  background-color: black;
  display: flex;
}

li {
  color: rgb(225, 234, 220);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

a {
  color: bisque;
}

li a:hover {
  background-color: #d14141;
}

/*MAIN*/

.content2 {
  font-size: 17px;
  color: rgb(25, 2, 26);
  text-align: left;
  font-weight: bold;
}

body {
  background-color: rgba(254, 254, 254, 0.404);
}

footer {
  border-top: 1px solid black;
  text-align: left;
  color: black;
}

/*Category Section*/

.project-image {
  width: 70%;
}

.section1 {
  margin: 0%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-image2 {
  width: 55%;
}
