* {
  font-family: "Open Sans", sans-serif;
}

/*HEADER*/

#logo {
  font-size: 200%;
  color: rgb(226, 38, 94);
  text-align: center;
  font-weight: bold;
  border: 3px solid gray;
  display: flexbox;
  margin: 0%;
  padding: 2px;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  color: brown;
  margin: 1%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 1%;
  font-weight: 100%;

  background-color: rgb(244, 138, 138);
  display: flex;
}

li {
  color: rgb(225, 234, 220);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

a {
  color: bisque;
}

li a:hover {
  background-color: #d14141;
}

@media screen and (max-width: 440px) {
  ul,
  header {
    flex-direction: column;
    align-items: start;
    margin: 2%;
    background-color: black;
    margin: 0%;
  }        
  li {
    padding: 0%;

    margin: 3%;
  }
}

/*MAIN*/

body {
  background-color: black;
}
/*FOOTER*/

footer {
  margin-top: 10%;
  border-top: 1px solid rgb(222, 218, 218);
  text-align: left;
  color: rgb(227, 222, 222);
}

/*Category Section*/

.project-image {
  width: 60%;
}
n 
.section1 {
  margin: 0%;
}

@media screen and (min-width: 314px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1%;
  }
}

.project-image2 {
  width: 50%;
}

.section1 {
  width: 50%;
  padding: 5%;
}

.discription {
  color: peru;
}

/*Project details*/
p {
  color: rgb(225, 223, 220);
  margin-left: 1%;
  font-size: 80%;
}

.detail-image {
  width: 20%;
  margin-left: 1%;
}

