* {
  font-family: "Open Sans", sans-serif;
  margin-left: 0%;
  margin-right: 0%;
}

/*HEADER*/

#logo {
  font-size: 200%;
  color: rgb(226, 38, 94);
  text-align: center;
  font-weight: bold;
  border: 3px solid rgba(128, 128, 128, 0.687);
  display: flexbox;
  margin: 0%;
  padding: 3px;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  color: brown;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0%;
  font-weight: 170%;
  background-color: rgb(242, 84, 84);
  display: flex;
}
a {
  float: left;
}

a {
  color: rgb(225, 234, 220);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #d14141;
}

@media screen and (max-width: 440px) {
  ul,
  header {
    flex-direction: column;
    align-items: start;
    margin: 2%;

    margin: 0%;
  }
}

/*MAIN*/

.my-image {
  width: 30%;
  margin: 30%;
  margin-top: 0%;
  margin-bottom: 0%;
  border-radius: 60%;
}

h2 {
  font-weight: normal;
  font-size: 180%;
  color: rgb(32, 23, 30);
  margin: 1%;
}

.content2 {
  font-size: 100%;
  color: rgb(25, 2, 26);
  text-align: left;
  font-weight: bold;
  margin: 1%;
}
button {
  color: #d14141;
  background-color: black;
  margin-top: 1%;
}

body {
  background-color: rgb(141, 139, 139);
}

/*FOOTER*/

footer {
  text-align: left;

  border-top: 1px solid black;
  margin-top: 2rem;
}
/*Form Section*/

form {
  font-size: 100%;
  font-style: bolds;
  color: white;
  padding: 3px;
  border: 2px solid white;
}

.enter-text {
  border: 2px solid rgb(22, 22, 22);
  padding: 50px;
  text-align: left;
  color: white;
}

.submit {
  color: #f0eded;
  border: 1px solid black;
  background-color: black;
  padding: 7px;
}
@media screen and(max-width: 262px ) {
  form {
    border: none;
  }
}
/*Animation*/

ul {
  width: 100%;
  height: 40px;
  border-block-style: solid;
  border-block-width: 10px;
  /* Animation properties */
  animation-name: mymove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes mymove {
  50% {
    border-block-color: rgb(141, 139, 139);
  }
}

#logo {
  width: 30vw;
  animation-name: bounce;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translatex(0px);
  }
  to {
    transform: translatex(1000px);
  }
}
