* {
  font-family: "Open Sans", sans-serif;
  margin-left: 0%;
  margin-right: 0%;
}

/*HEADER*/

#logo {
  font-size: 40px;
  color: rgb(226, 38, 94);
  text-align: center;
  font-weight: bold;
  border: 3px solid rgba(128, 128, 128, 0.687);
  display: inline;
  margin: 40%;
  padding: 3px;
}

h1 {
  font-weight: bold;
  font-size: xx-large;
  color: brown;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0%;
  font-weight: 300;
  background-color: rgb(242, 84, 84);
  display: flex;
}
a {
  float: left;
}

a {
  color: rgb(225, 234, 220);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #d14141;
}

/*MAIN*/

.my-image {
  width: 30%;
}

h2 {
  font-weight: normal;
  font-size: 30px;
  color: rgb(32, 23, 30);
}

.content2 {
  font-size: 17px;
  color: rgb(25, 2, 26);
  text-align: left;
  font-weight: bold;
}

body {
  background-color: whitesmoke;
}

/*FOOTER*/

footer {
  text-align: left;

  border-top: 1px solid black;
  margin-top: 2rem;
}
/*Form Section*/

form {
  font-size: x-large;
  font-style: bolds;
  border: 1px solid black;
  padding: 3px;
}

.enter-text {
  border: 2px solid rgb(22, 22, 22);
  padding: 50px;
  text-align: left;
}

.submit {
  color: #f0eded;
  border: 1px solid black;
  background-color: black;
  padding: 7px;
}
